*                 eol=lf
*.ps1             eol=crlf  linguist-detectable
*.bat             eol=crlf  linguist-detectable
*.cmd             eol=crlf
*.*rc             text

*.json            linguist-language=jsonc

LICENSE           text
NOTICE            text

pnpm-lock*.yaml   text     -diff
yarn.lock         text     -diff