*                 eol=lf
*.*rc             text

*.json            linguist-language=jsonc

LICENSE           text
NOTICE            text

pnpm-lock*.yaml   text     -diff
yarn.lock         text     -diff